<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.DuihuanlipinMapper">
  <resultMap id="BaseResultMap" type="com.entity.Duihuanlipin">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="lipinbianhao" jdbcType="VARCHAR" property="lipinbianhao" />    <result column="lipinmingcheng" jdbcType="VARCHAR" property="lipinmingcheng" />    <result column="suoxujifen" jdbcType="VARCHAR" property="suoxujifen" />    <result column="xingming" jdbcType="VARCHAR" property="xingming" />    <result column="shoujihao" jdbcType="VARCHAR" property="shoujihao" />    <result column="jifen" jdbcType="VARCHAR" property="jifen" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, lipinbianhao,lipinmingcheng,suoxujifen,xingming,shoujihao,jifen, addtime
  </sql>
  <select id="quchongDuihuanlipin"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from duihuanlipin 
    where shoujihao = #{shoujihao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from duihuanlipin  where 1=1
    <if test="lipinbianhao!=null">and lipinbianhao like  concat('%',#{lipinbianhao,jdbcType=VARCHAR},'%')</if>     <if test="lipinmingcheng!=null">and lipinmingcheng like  concat('%',#{lipinmingcheng,jdbcType=VARCHAR},'%')</if>     <if test="suoxujifen!=null">and suoxujifen like  concat('%',#{suoxujifen,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="shoujihao!=null">and shoujihao like  concat('%',#{shoujihao,jdbcType=VARCHAR},'%')</if>     <if test="jifen!=null">and jifen like  concat('%',#{jifen,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from duihuanlipin  where 1=1
    <if test="shoujihao!=null">
    and shoujihao =#{shoujihao}
    </if>
  </select>
  
  <select id="getsyduihuanlipin1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from duihuanlipin  where 1=1
    limit 0,8
  </select>
  <select id="getsyduihuanlipin2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from duihuanlipin  where 1=1
    limit 0,8
  </select>
  <select id="getsyduihuanlipin3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from duihuanlipin  where 1=1
    limit 0,8
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from duihuanlipin where 1=1 
     <if test="lipinbianhao!=null">and lipinbianhao like  concat('%',#{lipinbianhao,jdbcType=VARCHAR},'%')</if>     <if test="lipinmingcheng!=null">and lipinmingcheng like  concat('%',#{lipinmingcheng,jdbcType=VARCHAR},'%')</if>     <if test="suoxujifen!=null">and suoxujifen like  concat('%',#{suoxujifen,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="shoujihao!=null">and shoujihao like  concat('%',#{shoujihao,jdbcType=VARCHAR},'%')</if>     <if test="jifen!=null">and jifen like  concat('%',#{jifen,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from duihuanlipin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from duihuanlipin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Duihuanlipin">
    insert into duihuanlipin (id, lipinbianhao,lipinmingcheng,suoxujifen,xingming,shoujihao,jifen, addtime)
    values (#{id,jdbcType=INTEGER}, #{lipinbianhao,jdbcType=VARCHAR},#{lipinmingcheng,jdbcType=VARCHAR},#{suoxujifen,jdbcType=VARCHAR},#{xingming,jdbcType=VARCHAR},#{shoujihao,jdbcType=VARCHAR},#{jifen,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Duihuanlipin">
    insert into duihuanlipin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lipinbianhao != null"> lipinbianhao, </if>      <if test="lipinmingcheng != null"> lipinmingcheng, </if>      <if test="suoxujifen != null"> suoxujifen, </if>      <if test="xingming != null"> xingming, </if>      <if test="shoujihao != null"> shoujihao, </if>      <if test="jifen != null"> jifen, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lipinbianhao != null"> #{lipinbianhao,jdbcType=VARCHAR},</if>      <if test="lipinmingcheng != null"> #{lipinmingcheng,jdbcType=VARCHAR},</if>      <if test="suoxujifen != null"> #{suoxujifen,jdbcType=VARCHAR},</if>      <if test="xingming != null"> #{xingming,jdbcType=VARCHAR},</if>      <if test="shoujihao != null"> #{shoujihao,jdbcType=VARCHAR},</if>      <if test="jifen != null"> #{jifen,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Duihuanlipin">
    update duihuanlipin
    <set>
	  <if test="lipinbianhao != null"> lipinbianhao = #{lipinbianhao,jdbcType=VARCHAR},</if>      <if test="lipinmingcheng != null"> lipinmingcheng = #{lipinmingcheng,jdbcType=VARCHAR},</if>      <if test="suoxujifen != null"> suoxujifen = #{suoxujifen,jdbcType=VARCHAR},</if>      <if test="xingming != null"> xingming = #{xingming,jdbcType=VARCHAR},</if>      <if test="shoujihao != null"> shoujihao = #{shoujihao,jdbcType=VARCHAR},</if>      <if test="jifen != null"> jifen = #{jifen,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Duihuanlipin">
    update duihuanlipin
    set lipinbianhao = #{lipinbianhao,jdbcType=VARCHAR},lipinmingcheng = #{lipinmingcheng,jdbcType=VARCHAR},suoxujifen = #{suoxujifen,jdbcType=VARCHAR},xingming = #{xingming,jdbcType=VARCHAR},shoujihao = #{shoujihao,jdbcType=VARCHAR},jifen = #{jifen,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
