<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.HuiyuanxinxiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Huiyuanxinxi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="shoujihao" jdbcType="VARCHAR" property="shoujihao" />    <result column="mima" jdbcType="VARCHAR" property="mima" />    <result column="xingming" jdbcType="VARCHAR" property="xingming" />    <result column="xingbie" jdbcType="VARCHAR" property="xingbie" />    <result column="shenfenzheng" jdbcType="VARCHAR" property="shenfenzheng" />    <result column="zhaopian" jdbcType="VARCHAR" property="zhaopian" />    <result column="jifen" jdbcType="VARCHAR" property="jifen" />    <result column="yue" jdbcType="VARCHAR" property="yue" />    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shoujihao,mima,xingming,xingbie,shenfenzheng,zhaopian,jifen,yue,beizhu, addtime
  </sql>
  <select id="quchongHuiyuanxinxi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from huiyuanxinxi 
    where shoujihao = #{shoujihao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from huiyuanxinxi  where 1=1
    <if test="shoujihao!=null">and shoujihao like  concat('%',#{shoujihao,jdbcType=VARCHAR},'%')</if>     <if test="mima!=null">and mima like  concat('%',#{mima,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="shenfenzheng!=null">and shenfenzheng like  concat('%',#{shenfenzheng,jdbcType=VARCHAR},'%')</if>     <if test="zhaopian!=null">and zhaopian like  concat('%',#{zhaopian,jdbcType=VARCHAR},'%')</if>     <if test="jifen!=null">and jifen like  concat('%',#{jifen,jdbcType=VARCHAR},'%')</if>     <if test="yue1!=null">and yue &gt;=  concat('',#{yue1,jdbcType=VARCHAR},'')</if>     <if test="yue2!=null">and yue &lt;=  concat('',#{yue2,jdbcType=VARCHAR},'')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from huiyuanxinxi  where 1=1
    <if test="shoujihao!=null">
    and shoujihao =#{shoujihao}
    </if>
  </select>
  
  <select id="getsyhuiyuanxinxi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from huiyuanxinxi  where 1=1
    limit 0,8
  </select>
  <select id="getsyhuiyuanxinxi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from huiyuanxinxi  where 1=1
    limit 0,8
  </select>
  <select id="getsyhuiyuanxinxi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from huiyuanxinxi  where 1=1
    limit 0,8
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from huiyuanxinxi where 1=1 
     <if test="shoujihao!=null">and shoujihao like  concat('%',#{shoujihao,jdbcType=VARCHAR},'%')</if>     <if test="mima!=null">and mima like  concat('%',#{mima,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="shenfenzheng!=null">and shenfenzheng like  concat('%',#{shenfenzheng,jdbcType=VARCHAR},'%')</if>     <if test="zhaopian!=null">and zhaopian like  concat('%',#{zhaopian,jdbcType=VARCHAR},'%')</if>     <if test="jifen!=null">and jifen like  concat('%',#{jifen,jdbcType=VARCHAR},'%')</if>     <if test="yue1!=null">and yue &gt;=  concat('',#{yue1,jdbcType=VARCHAR},'')</if>     <if test="yue2!=null">and yue &lt;=  concat('',#{yue2,jdbcType=VARCHAR},'')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from huiyuanxinxi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from huiyuanxinxi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Huiyuanxinxi">
    insert into huiyuanxinxi (id, shoujihao,mima,xingming,xingbie,shenfenzheng,zhaopian,jifen,yue,beizhu, addtime)
    values (#{id,jdbcType=INTEGER}, #{shoujihao,jdbcType=VARCHAR},#{mima,jdbcType=VARCHAR},#{xingming,jdbcType=VARCHAR},#{xingbie,jdbcType=VARCHAR},#{shenfenzheng,jdbcType=VARCHAR},#{zhaopian,jdbcType=VARCHAR},#{jifen,jdbcType=VARCHAR},#{yue,jdbcType=VARCHAR},#{beizhu,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Huiyuanxinxi">
    insert into huiyuanxinxi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shoujihao != null"> shoujihao, </if>      <if test="mima != null"> mima, </if>      <if test="xingming != null"> xingming, </if>      <if test="xingbie != null"> xingbie, </if>      <if test="shenfenzheng != null"> shenfenzheng, </if>      <if test="zhaopian != null"> zhaopian, </if>      <if test="jifen != null"> jifen, </if>      <if test="yue != null"> yue, </if>      <if test="beizhu != null"> beizhu, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shoujihao != null"> #{shoujihao,jdbcType=VARCHAR},</if>      <if test="mima != null"> #{mima,jdbcType=VARCHAR},</if>      <if test="xingming != null"> #{xingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> #{xingbie,jdbcType=VARCHAR},</if>      <if test="shenfenzheng != null"> #{shenfenzheng,jdbcType=VARCHAR},</if>      <if test="zhaopian != null"> #{zhaopian,jdbcType=VARCHAR},</if>      <if test="jifen != null"> #{jifen,jdbcType=VARCHAR},</if>      <if test="yue != null"> #{yue,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Huiyuanxinxi">
    update huiyuanxinxi
    <set>
	  <if test="shoujihao != null"> shoujihao = #{shoujihao,jdbcType=VARCHAR},</if>      <if test="mima != null"> mima = #{mima,jdbcType=VARCHAR},</if>      <if test="xingming != null"> xingming = #{xingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> xingbie = #{xingbie,jdbcType=VARCHAR},</if>      <if test="shenfenzheng != null"> shenfenzheng = #{shenfenzheng,jdbcType=VARCHAR},</if>      <if test="zhaopian != null"> zhaopian = #{zhaopian,jdbcType=VARCHAR},</if>      <if test="jifen != null"> jifen = #{jifen,jdbcType=VARCHAR},</if>      <if test="yue != null"> yue = #{yue,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> beizhu = #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Huiyuanxinxi">
    update huiyuanxinxi
    set shoujihao = #{shoujihao,jdbcType=VARCHAR},mima = #{mima,jdbcType=VARCHAR},xingming = #{xingming,jdbcType=VARCHAR},xingbie = #{xingbie,jdbcType=VARCHAR},shenfenzheng = #{shenfenzheng,jdbcType=VARCHAR},zhaopian = #{zhaopian,jdbcType=VARCHAR},jifen = #{jifen,jdbcType=VARCHAR},yue = #{yue,jdbcType=VARCHAR},beizhu = #{beizhu,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
